[submodule "gin_tune"]
	path = gin_tune
	url = https://github.com/sergeivolodin/gin_tune.git
[submodule "ray"]
	path = ray
	url = https://github.com/sergeivolodin/ray.git
[submodule "mamo"]
	path = mamo
	url = https://github.com/swisscom/ai-research-mamo-framework.git
[submodule "gist_l1_proj"]
	path = gist_l1_proj
	url = https://gist.github.com/1329998205d88c566588e57e3e2c0c55.git
