aiohttp==3.6.3
astunparse==1.6.3
atari-py==0.2.6
blinker==1.4
brotlipy==0.7.0
click==7.1.2
gin-config==0.3.0
google-auth-oauthlib==0.4.1
graphviz==0.14.2
jupyter==1.0.0
jupyterlab==2.2.6
mkl-fft==1.0.12
mkl-random==1.1.1
mkl-service==2.3.0
pip-chill==1.0.0
plotly==4.11.0
pyjwt==1.7.1
pylint==2.6.0
pymongo==3.11.0
pyopenssl==19.0.0
pysocks==1.7.1
pytest==6.1.1
sacred==0.8.1
seaborn==0.11.0
sklearn==0.0
stable-baselines==2.10.1
tensorboard-plugin-wit==1.6.0
tensorflow==1.15.0
torch==1.6.0
tqdm==4.50.2
